th {
	padding: 8px; width: 15%; text-align: right; font-size: small; vertical-align: middle;
}
td {
	padding: 8px; font-size: small;
}
#calendarFormTable {
	width: 99%;
}
#shareCalendarFormTable {
	width: 99%;
}
.settingsFormTable {
	width: 99%;
}
#calendarFormTable td {
	border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
#calendarFormTable th {
	border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
.settingsFormTable td {
	border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
.settingsFormTable th {
	border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
#shareCalendarTemplate > td {
	background: rgb(235, 235, 235);
}
.backLink {
	color: rgb(17, 85, 204); font-size: small; font-weight: bold; text-decoration: none; cursor: pointer;
}
.calendarName {
	color: rgb(17, 85, 204); font-size: small; font-weight: bold;
}
.shareCalendar {
	color: rgb(17, 85, 204); font-size: small; font-weight: bold;
}
.unsubscribe {
	color: rgb(17, 85, 204); font-size: small; font-weight: bold;
}
.createCalendarBtn {
	font-weight: bold;
}
.inp {
	border-width: 1px; border-style: solid; border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217); border-image: none; width: 95%;
}
.description {
	color: rgb(51, 51, 51); padding-top: 3px; font-size: small;
}
#generalSettings th {
	height: 50px;
}
#generalSettings td {
	height: 50px;
}
#settingsFirstRow th {
	height: 5px;
}
#settingsFirstRow td {
	height: 5px;
}
.removeShare {
	cursor: pointer;
}
