#tabLinks {
	list-style: none; margin: 0px; padding: 0px;
}
.tabLink {
	padding: 3px 8px 4px; color: rgb(17, 85, 204); font-size: small; font-weight: bold; text-decoration: underline; display: inline; cursor: pointer;
}
.tabLink.selected {
	background: rgb(240, 240, 240); color: rgb(0, 0, 0); text-decoration: none; cursor: default;
}
#tabContents {
	background: rgb(255, 255, 255); margin: 0px; padding: 0px 10px; border-top-color: rgb(235, 235, 235); border-top-width: 2px; border-top-style: solid;
}
.tabContent {
	padding: 15px; font-size: small; display: none;
}
.tabContent.selected {
	display: inherit;
}
