.datepicker--cell-day.-other-month- {
	color: rgb(222, 222, 222);
}
.datepicker--cell-year.-other-decade- {
	color: rgb(222, 222, 222);
}
.datepicker--cell-day.-other-month-:hover {
	color: rgb(197, 197, 197);
}
.datepicker--cell-year.-other-decade-:hover {
	color: rgb(197, 197, 197);
}
.-disabled-.-focus-.datepicker--cell-day.-other-month- {
	color: rgb(222, 222, 222);
}
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
	color: rgb(222, 222, 222);
}
.-selected-.datepicker--cell-day.-other-month- {
	background: rgb(162, 221, 246); color: rgb(255, 255, 255);
}
.-selected-.datepicker--cell-year.-other-decade- {
	background: rgb(162, 221, 246); color: rgb(255, 255, 255);
}
.-selected-.-focus-.datepicker--cell-day.-other-month- {
	background: rgb(138, 213, 244);
}
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
	background: rgb(138, 213, 244);
}
.-in-range-.datepicker--cell-day.-other-month- {
	color: rgb(204, 204, 204); background-color: rgba(92, 196, 239, 0.1);
}
.-in-range-.datepicker--cell-year.-other-decade- {
	color: rgb(204, 204, 204); background-color: rgba(92, 196, 239, 0.1);
}
.-in-range-.-focus-.datepicker--cell-day.-other-month- {
	background-color: rgba(92, 196, 239, 0.2);
}
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.2);
}
:empty.datepicker--cell-day.-other-month- {
	background: none; border: currentColor; border-image: none;
}
:empty.datepicker--cell-year.-other-decade- {
	background: none; border: currentColor; border-image: none;
}
.datepicker--cell-day.-other-month- {
	color: rgb(222, 222, 222);
}
.datepicker--cell-year.-other-decade- {
	color: rgb(222, 222, 222);
}
.datepicker--cell-day.-other-month-:hover {
	color: rgb(197, 197, 197);
}
.datepicker--cell-year.-other-decade-:hover {
	color: rgb(197, 197, 197);
}
.-disabled-.-focus-.datepicker--cell-day.-other-month- {
	color: rgb(222, 222, 222);
}
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
	color: rgb(222, 222, 222);
}
.-selected-.datepicker--cell-day.-other-month- {
	background: rgb(162, 221, 246); color: rgb(255, 255, 255);
}
.-selected-.datepicker--cell-year.-other-decade- {
	background: rgb(162, 221, 246); color: rgb(255, 255, 255);
}
.-selected-.-focus-.datepicker--cell-day.-other-month- {
	background: rgb(138, 213, 244);
}
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
	background: rgb(138, 213, 244);
}
.-in-range-.datepicker--cell-day.-other-month- {
	color: rgb(204, 204, 204); background-color: rgba(92, 196, 239, 0.1);
}
.-in-range-.datepicker--cell-year.-other-decade- {
	color: rgb(204, 204, 204); background-color: rgba(92, 196, 239, 0.1);
}
.-in-range-.-focus-.datepicker--cell-day.-other-month- {
	background-color: rgba(92, 196, 239, 0.2);
}
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.2);
}
:empty.datepicker--cell-day.-other-month- {
	background: none; border: currentColor; border-image: none;
}
:empty.datepicker--cell-year.-other-decade- {
	background: none; border: currentColor; border-image: none;
}
.datepicker--cells {
	display: flex; flex-wrap: wrap; -webkit-flex-wrap: wrap;
}
.datepicker--cell {
	border-radius: 4px; height: 32px; text-align: center; display: inline; position: relative; z-index: 1; cursor: pointer; box-sizing: border-box; justify-content: center; align-items: center; -webkit-align-items: center; -webkit-justify-content: center;
}
.datepicker--cell.-focus- {
	background: rgb(240, 240, 240);
}
.datepicker--cell.-current- {
	color: rgb(78, 181, 230);
}
.datepicker--cell.-current-.-focus- {
	color: rgb(74, 74, 74);
}
.datepicker--cell.-current-.-in-range- {
	color: rgb(78, 181, 230);
}
.datepicker--cell.-in-range- {
	background: rgba(92, 196, 239, 0.1); border-radius: 0px; color: rgb(74, 74, 74);
}
.datepicker--cell.-in-range-.-focus- {
	background-color: rgba(92, 196, 239, 0.2);
}
.datepicker--cell.-disabled- {
	color: rgb(174, 174, 174); cursor: default;
}
.datepicker--cell.-disabled-.-focus- {
	color: rgb(174, 174, 174);
}
.datepicker--cell.-disabled-.-in-range- {
	color: rgb(161, 161, 161);
}
.datepicker--cell.-disabled-.-current-.-focus- {
	color: rgb(174, 174, 174);
}
.datepicker--cell.-range-from- {
	border-radius: 4px 0px 0px 4px; border: 1px solid rgba(92, 196, 239, 0.5); border-image: none; background-color: rgba(92, 196, 239, 0.1);
}
.datepicker--cell.-range-to- {
	border-radius: 0px 4px 4px 0px; border: 1px solid rgba(92, 196, 239, 0.5); border-image: none; background-color: rgba(92, 196, 239, 0.1);
}
.datepicker--cell.-range-from-.-range-to- {
	border-radius: 4px;
}
.datepicker--cell.-selected- {
	background: rgb(92, 196, 239); border: currentColor; border-image: none; color: rgb(255, 255, 255);
}
.datepicker--cell.-selected-.-current- {
	background: rgb(92, 196, 239); color: rgb(255, 255, 255);
}
.datepicker--cell.-selected-.-focus- {
	background: rgb(69, 188, 237);
}
:empty.datepicker--cell {
	cursor: default;
}
.datepicker--days-names {
	margin: 8px 0px 3px; display: flex; flex-wrap: wrap; -webkit-flex-wrap: wrap;
}
.datepicker--day-name {
	flex:1 1 0px; width: 34.5px; text-align: center; color: rgb(0, 0, 0); text-transform: uppercase; font-size: 0.8em; float: right; display: flex; justify-content: center; align-items: center; -webkit-align-items: center; -webkit-justify-content: center; -webkit-flex: 1;
}
.datepicker--cell-day {
	width: 34.5px; padding-top: 8px; float: right;
}
.datepicker--cells-months {
	height: 170px;
}
.datepicker--cell-month {
	width: 33.33%; height: 25%; padding-top: 10px; float: right;
}
.datepicker--years {
	height: 170px;
}
.datepicker--cells-years {
	height: 170px;
}
.datepicker--cell-year {
	width: 25%; height: 33.33%; padding-top: 16px; float: right;
}
.datepicker--cell-day.-other-month- {
	color: rgb(222, 222, 222);
}
.datepicker--cell-year.-other-decade- {
	color: rgb(222, 222, 222);
}
.datepicker--cell-day.-other-month-:hover {
	color: rgb(197, 197, 197);
}
.datepicker--cell-year.-other-decade-:hover {
	color: rgb(197, 197, 197);
}
.-disabled-.-focus-.datepicker--cell-day.-other-month- {
	color: rgb(222, 222, 222);
}
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
	color: rgb(222, 222, 222);
}
.-selected-.datepicker--cell-day.-other-month- {
	background: rgb(162, 221, 246); color: rgb(255, 255, 255);
}
.-selected-.datepicker--cell-year.-other-decade- {
	background: rgb(162, 221, 246); color: rgb(255, 255, 255);
}
.-selected-.-focus-.datepicker--cell-day.-other-month- {
	background: rgb(138, 213, 244);
}
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
	background: rgb(138, 213, 244);
}
.-in-range-.datepicker--cell-day.-other-month- {
	color: rgb(204, 204, 204); background-color: rgba(92, 196, 239, 0.1);
}
.-in-range-.datepicker--cell-year.-other-decade- {
	color: rgb(204, 204, 204); background-color: rgba(92, 196, 239, 0.1);
}
.-in-range-.-focus-.datepicker--cell-day.-other-month- {
	background-color: rgba(92, 196, 239, 0.2);
}
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.2);
}
:empty.datepicker--cell-day.-other-month- {
	background: none; border: currentColor; border-image: none;
}
:empty.datepicker--cell-year.-other-decade- {
	background: none; border: currentColor; border-image: none;
}
.datepickers-container {
	left: 0px; top: 0px; position: absolute;
}
.datepicker {
	background: rgb(255, 255, 255); border-radius: 4px; border: 1px solid rgb(219, 219, 219); transition:opacity 0.3s, transform 0.3s, left 0s 0.3s, transform 0.3s; border-image: none; left: -100000px; width: 250px; color: rgb(74, 74, 74); font-family: Tahoma, sans-serif; font-size: 14px; position: absolute; z-index: 100; direction: rtl; box-sizing: content-box; opacity: 0; box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}
.datepicker.-from-top- {
	transform: translateY(-8px); -webkit-transform: translateY(-8px);
}
.datepicker.-from-right- {
	transform: translateX(8px); -webkit-transform: translateX(8px);
}
.datepicker.-from-bottom- {
	transform: translateY(8px); -webkit-transform: translateY(8px);
}
.datepicker.-from-left- {
	transform: translateX(-8px); -webkit-transform: translateX(-8px);
}
.datepicker.active {
	transition:opacity 0.3s, transform 0.3s, left, transform 0.3s; opacity: 1; transform: translate(0px); -webkit-transform: translate(0);
}
.datepicker-inline .datepicker {
	border-color: rgb(215, 215, 215); left: auto; right: auto; position: static; opacity: 1; box-shadow: none; transform: none; -webkit-transform: none;
}
.datepicker-inline .datepicker--pointer {
	display: none;
}
.datepicker--content {
	padding: 4px; box-sizing: content-box;
}
.datepicker--pointer {
	background: rgb(255, 255, 255); width: 10px; height: 10px; border-top-color: rgb(219, 219, 219); border-right-color: rgb(219, 219, 219); border-top-width: 1px; border-right-width: 1px; border-top-style: solid; border-right-style: solid; position: absolute; z-index: -1;
}
.-top-left- .datepicker--pointer {
	top: calc(100% - 4px); transform: rotate(135deg); -webkit-transform: rotate(135deg);
}
.-top-center- .datepicker--pointer {
	top: calc(100% - 4px); transform: rotate(135deg); -webkit-transform: rotate(135deg);
}
.-top-right- .datepicker--pointer {
	top: calc(100% - 4px); transform: rotate(135deg); -webkit-transform: rotate(135deg);
}
.-right-top- .datepicker--pointer {
	right: calc(100% - 4px); transform: rotate(225deg); -webkit-transform: rotate(225deg);
}
.-right-center- .datepicker--pointer {
	right: calc(100% - 4px); transform: rotate(225deg); -webkit-transform: rotate(225deg);
}
.-right-bottom- .datepicker--pointer {
	right: calc(100% - 4px); transform: rotate(225deg); -webkit-transform: rotate(225deg);
}
.-bottom-left- .datepicker--pointer {
	bottom: calc(100% - 4px); transform: rotate(315deg); -webkit-transform: rotate(315deg);
}
.-bottom-center- .datepicker--pointer {
	bottom: calc(100% - 4px); transform: rotate(315deg); -webkit-transform: rotate(315deg);
}
.-bottom-right- .datepicker--pointer {
	bottom: calc(100% - 4px); transform: rotate(315deg); -webkit-transform: rotate(315deg);
}
.-left-top- .datepicker--pointer {
	left: calc(100% - 400px); transform: rotate(45deg); -webkit-transform: rotate(45deg);
}
.-left-center- .datepicker--pointer {
	left: calc(100% - 400px); transform: rotate(45deg); -webkit-transform: rotate(45deg);
}
.-left-bottom- .datepicker--pointer {
	left: calc(100% - 400px); transform: rotate(45deg); -webkit-transform: rotate(45deg);
}
.-top-left- .datepicker--pointer {
	left: 10px;
}
.-bottom-left- .datepicker--pointer {
	left: 10px;
}
.-top-right- .datepicker--pointer {
	right: 10px;
}
.-bottom-right- .datepicker--pointer {
	right: 10px;
}
.-top-center- .datepicker--pointer {
	left: calc(50% - 10px /2);
}
.-bottom-center- .datepicker--pointer {
	left: calc(50% - 10px /2);
}
.-left-top- .datepicker--pointer {
	top: 10px;
}
.-right-top- .datepicker--pointer {
	top: 10px;
}
.-left-bottom- .datepicker--pointer {
	bottom: 10px;
}
.-right-bottom- .datepicker--pointer {
	bottom: 10px;
}
.-left-center- .datepicker--pointer {
	top: calc(50% - 10px /2);
}
.-right-center- .datepicker--pointer {
	top: calc(50% - 10px /2);
}
.datepicker--body {
	display: none;
}
.datepicker--body.active {
	display: block;
}
.datepicker--cell-day.-other-month- {
	color: rgb(222, 222, 222);
}
.datepicker--cell-year.-other-decade- {
	color: rgb(222, 222, 222);
}
.datepicker--cell-day.-other-month-:hover {
	color: rgb(197, 197, 197);
}
.datepicker--cell-year.-other-decade-:hover {
	color: rgb(197, 197, 197);
}
.-disabled-.-focus-.datepicker--cell-day.-other-month- {
	color: rgb(222, 222, 222);
}
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
	color: rgb(222, 222, 222);
}
.-selected-.datepicker--cell-day.-other-month- {
	background: rgb(162, 221, 246); color: rgb(255, 255, 255);
}
.-selected-.datepicker--cell-year.-other-decade- {
	background: rgb(162, 221, 246); color: rgb(255, 255, 255);
}
.-selected-.-focus-.datepicker--cell-day.-other-month- {
	background: rgb(138, 213, 244);
}
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
	background: rgb(138, 213, 244);
}
.-in-range-.datepicker--cell-day.-other-month- {
	color: rgb(204, 204, 204); background-color: rgba(92, 196, 239, 0.1);
}
.-in-range-.datepicker--cell-year.-other-decade- {
	color: rgb(204, 204, 204); background-color: rgba(92, 196, 239, 0.1);
}
.-in-range-.-focus-.datepicker--cell-day.-other-month- {
	background-color: rgba(92, 196, 239, 0.2);
}
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.2);
}
:empty.datepicker--cell-day.-other-month- {
	background: none; border: currentColor; border-image: none;
}
:empty.datepicker--cell-year.-other-decade- {
	background: none; border: currentColor; border-image: none;
}
.datepicker--nav {
	padding: 4px; border-bottom-color: rgb(239, 239, 239); border-bottom-width: 1px; border-bottom-style: solid; display: flex; min-height: 32px; justify-content: space-between; -webkit-justify-content: space-between;
}
.datepicker--nav-title {
	display: flex; cursor: pointer; justify-content: center; align-items: center; -webkit-align-items: center; -webkit-justify-content: center;
}
.datepicker--nav-action {
	display: flex; cursor: pointer; justify-content: center; align-items: center; -webkit-align-items: center; -webkit-justify-content: center;
}
.datepicker--nav-action {
	border-radius: 4px; width: 32px; height: 32px; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.datepicker--nav-action.prev {
	float: left;
}
.datepicker--nav-action.next {
	float: right;
}
.datepicker--nav-action:hover {
	background: rgb(240, 240, 240);
}
.datepicker--nav-action.-disabled- {
	visibility: hidden;
}
.datepicker--nav-action svg {
	width: 32px; height: 32px;
}
.datepicker--nav-action path {
	fill: none; stroke: #9c9c9c; stroke-width: 2px;
}
.datepicker--nav-title {
	padding: 8px 8px 0px; border-radius: 4px; width: 150px; height: 32px; text-align: center; float: left; display: inline;
}
.datepicker--nav-title i {
	color: rgb(156, 156, 156); font-style: normal; margin-left: 5px;
}
.datepicker--nav-title:hover {
	background: rgb(240, 240, 240);
}
.datepicker--nav-title.-disabled- {
	background: none; cursor: default;
}
.datepicker--buttons {
	padding: 4px; border-top-color: rgb(239, 239, 239); border-top-width: 1px; border-top-style: solid; display: flex;
}
.datepicker--button {
	border-radius: 4px; flex:1 1 0px; height: 32px; color: rgb(78, 181, 230); display: inline-flex; cursor: pointer; justify-content: center; align-items: center; -webkit-align-items: center; -webkit-justify-content: center; -webkit-flex: 1;
}
.datepicker--button:hover {
	background: rgb(240, 240, 240); color: rgb(74, 74, 74);
}
