#googleApps {
	right: 20px; position: absolute;
}
#googleAppsArrow {
	top: 7px; width: 18px; height: 9px; right: -14px; overflow: hidden; position: absolute; z-index: 1000;
}
#googleAppsArrowProngPart1 {
	border-width: 0px 9px 9px; border-style: solid; border-color: rgb(204, 204, 204) transparent rgb(221, 221, 221); border-image: none; left: 0px; top: 0px; position: absolute;
}
#googleAppsArrowProngPart2 {
	border-width: 0px 8px 8px; border-style: solid; border-color: rgb(221, 221, 221) transparent; border-image: none; left: 1px; top: 0px; position: absolute;
}
#google-apps {
	top: 15px; position: absolute;
}
.gb_ga.gb_ha {
	width: 320px; -ms-overflow-y: auto; min-height: 196px;
}
.gb_Ca {
	padding: 0px 12px; border-radius: 2px; line-height: 28px; display: inline-block; -webkit-border-radius: 2px;
}
.gb_Da {
	padding: 0px 12px; border-radius: 2px; line-height: 28px; display: inline-block; -webkit-border-radius: 2px;
}
.gb_Fa {
	padding: 0px 12px; border-radius: 2px; line-height: 28px; display: inline-block; -webkit-border-radius: 2px;
}
.gb_Ha {
	padding: 0px 12px; border-radius: 2px; line-height: 28px; display: inline-block; -webkit-border-radius: 2px;
}
.gb_Ha {
	background: rgb(248, 248, 248);
}
.gb_Fa {
	color: rgb(102, 102, 102); text-decoration: none; cursor: default;
}
#gb a.gb_Fa.gb_Fa {
	color: rgb(102, 102, 102); text-decoration: none; cursor: default;
}
.gb_Ha {
	color: rgb(102, 102, 102); text-decoration: none; cursor: default;
}
#gb a.gb_Ha.gb_Ha {
	text-decoration: none; cursor: default;
}
.gb_Ha {
	background: rgb(66, 133, 244); border: 1px solid rgb(66, 133, 244); border-image: none; font-weight: bold;
}
#gb a.gb_Ha.gb_Ha {
	color: rgb(255, 255, 255);
}
.gb_Ha:hover {
	box-shadow: 0px 1px 0px rgba(0,0,0,0.15); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}
.gb_Ha:active {
	background: rgb(60, 120, 220); box-shadow: inset 0px 2px 0px rgba(0,0,0,0.15); -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
}
.gb_Kc .gb_Ha {
	line-height: normal; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.gb_Kc .gb_Lc {
	line-height: normal; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.gb_Kc .gb_Mc {
	line-height: normal; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.gb_Kc .gb_Ca {
	line-height: normal; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.gb_Nc {
	line-height: normal; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.gb_Kc .gb_Ha {
	font-weight: 500;
}
.gb_Kc .gb_Lc {
	font-weight: 500;
}
.gb_Kc .gb_Ca {
	font-weight: 500;
}
.gb_Kc .gb_Ha {
	padding: 10px 8px; border: 0px currentColor; border-image: none;
}
.gb_Kc .gb_Ca {
	padding: 10px 8px; border: 0px currentColor; border-image: none;
}
.gb_Fc .gb_Ha:active {
	box-shadow: 0px 4px 5px rgba(0,0,0,0.16); -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .16);
}
.gb_Kc .gb_Ha {
	background: rgb(66, 133, 244);
}
.gb_ga {
	background: rgb(255, 255, 255); border-radius: 2px; border: 1px solid rgba(0, 0, 0, 0.2); animation:gb__a 0.2s; border-image: none; right: -256px; color: rgb(0, 0, 0); overflow: hidden; display: none; position: absolute; box-shadow: 0px 2px 10px rgba(0,0,0,0.2); -webkit-border-radius: 2px; -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2); -webkit-user-select: text; -webkit-animation: gb__a .2s;
}
.gb_Ec.gb_g .gb_eb {
	display: block;
}
.gb_Ec.gb_g .gb_fb {
	display: block;
}
.gb_Ec.gb_g .gb_ga {
	display: block;
}
.gb_g.gb_ga {
	display: block;
}
.gb_5a .gb_eb {
	margin-top: -10px;
}
.gb_5a .gb_fb {
	margin-top: -10px;
}
.gb_5a .gb_ga {
	margin-top: -10px;
}
.gb_Fc .gb_ga {
	background: rgb(255, 255, 255); padding: 26px 26px 22px 13px;
}
.gb_Hc.gb_Fc .gb_ga {
	background: rgb(77, 144, 254);
}
.gb_Kc .gb_ga {
	padding: 16px; border: 0px currentColor; border-image: none; top: 36px; box-shadow: 4px 4px 12px rgba(0,0,0,0.4); -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}
.gb_Aa .gb_ja {
	position: relative;
}
.gb_Aa .gb_O {
	left: 28px; top: 28px; position: absolute;
}
.gb_aa {
	left: 37px; visibility: hidden;
}
.gb_ba {
	left: 37px; visibility: hidden;
}
.gb_aa {
	top: 0px; width: 0px; height: 0px; border-right-color: transparent; border-bottom-color: rgb(66, 115, 219); border-left-color: transparent; border-right-width: 5px; border-bottom-width: 5px; border-left-width: 5px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; position: absolute;
}
ul.gb_ca li:not(:first-child).gb_7 .gb_8 {
	visibility: visible;
}
ul.gb_ca li:not(:nth-child(-n+3)).gb_7 .gb_aa {
	visibility: visible;
}
ul.gb_ca li.gb_7 .gb_9 {
	visibility: visible;
}
ul.gb_ca li.gb_7 .gb_ba {
	visibility: visible;
}
ul.gb_da li.gb_7 .gb_8 {
	visibility: visible;
}
ul.gb_da li.gb_7 .gb_aa {
	visibility: visible;
}
ul.gb_da li:not(:last-child).gb_7 .gb_9 {
	visibility: visible;
}
ul.gb_da li:not(:nth-last-child(-n+3)).gb_7 .gb_ba {
	visibility: visible;
}
.gb_ia {
	transition:height 0.2s ease-in-out; -webkit-transition: height .2s ease-in-out;
}
.gb_Jb {
	display: block;
}
.gb_g#gbsfw {
	display: block;
}
.gb_Ec.gb_g.gb_ke .gb_eb {
	display: none;
}
.gb_Ec.gb_g.gb_ke .gb_fb {
	display: none;
}
.gb_xc.gb_g {
	display: block;
}
.gb_Xe .gb_g {
	background: rgb(255, 255, 255); border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.gb_0e.gb_g {
	display: block;
}
.gb_ja {
	background: rgb(255, 255, 255); margin: 0px; padding: 28px 15px 28px 28px; width: 265px; text-align: left; white-space: normal; min-height: 100px;
}
.gb_la {
	display: none;
}
.gb_ja {
	display: none;
}
.gb_ca {
	display: block;
}
.gb_ca + .gb_la {
	display: block;
}
.gb_na .gb_la {
	display: block;
}
.gb_na .gb_ja {
	display: block;
}
a.gb_Ca {
	border: currentColor; border-image: none; text-align: center; color: rgb(66, 133, 244); text-transform: uppercase; font-weight: bold; text-decoration: none; white-space: nowrap; cursor: default; -webkit-user-select: none;
}
a.gb_Ca:hover {
	text-decoration: none; background-color: rgba(153, 153, 153, 0.2);
}
a.gb_Ca:active {
	text-decoration: none; background-color: rgba(153, 153, 153, 0.4);
}
.gb_Z {
	padding: 1px; width: 86px; height: 98px; color: black; vertical-align: top; display: inline-block; z-index: 999;
}
.gb_Z a {
	text-decoration: none;
}
[aria-grabbed=true].gb_Z {
	visibility: hidden;
}
:not(.gb_0).gb_Z:hover {
	z-index: 1001;
}
:not(.gb_0).gb_Z:hover a {
	margin: 7px 1px; border-radius: 2px; border: 1px solid rgb(229, 229, 229); border-image: none; -webkit-border-radius: 2px;
}
:not(.gb_0).gb_Z.gb_1 a {
	border: 1px solid rgb(229, 229, 229); border-image: none; box-shadow: 0px 1px 2px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.gb_Z.gb_1 a {
	background: rgb(255, 255, 255); font: 13px/27px Arial, sans-serif; margin: -1px; color: rgb(64, 64, 64) !important; text-decoration: none !important; visibility: visible; z-index: 1001; font-size-adjust: none; font-stretch: normal;
}
.gb_Z:hover .gb_O {
	z-index: 1;
}
.gb_Z:hover .gb_4 {
	background: rgba(255, 255, 255, 0.9); white-space: normal; -ms-word-wrap: break-word; overflow-wrap: break-word;
}
[aria-grabbed=true].gb_Z.gb_7 {
	visibility: visible;
}
.gb_oa .gb_O {
	
}
#gb a.gb_O {
	color: rgb(64, 64, 64); text-decoration: none;
}
.gb_O {
	margin: 8px 2px; text-align: center; color: rgb(64, 64, 64); font-size: 13px; display: inline-block;
}
.gb_O .gb_3 {
	width: 64px; height: 64px; vertical-align: top; display: inline-block;
}
.gb_O .gb_M {
	width: 64px; height: 64px; vertical-align: top; display: inline-block;
}
.gb_O .gb_3 {
	background-image: url("../img/v1_76783e20.png"); background-size: 92px 2541px; -webkit-background-size: 92px 2541px;
}
.gb_N .gb_O .gb_3 {
	overflow: hidden; position: relative; background-image: none;
}
.gb_N .gb_5.gb_3 {
	overflow: hidden; position: relative; background-image: none;
}
.gb_N .gb_O .gb_3::before {
	position: absolute; content: url('../img/v1_76783e20.png');
}
.gb_N .gb_5.gb_3::before {
	position: absolute; content: url('../img/v1_76783e20.png');
}
.gb_6 .gb_O:focus {
	text-decoration: underline;
}
#gb .gb_6 a.gb_O:focus {
	text-decoration: underline;
}
#gb192 .gb_3::before {
	left: 0px; top: -1451px;
}
.gb_8 {
	top: 27px; visibility: hidden; position: relative;
}
.gb_9 {
	top: 27px; visibility: hidden; position: relative;
}
.gb_8 {
	width: 0px; height: 0px; border-top-color: transparent; border-right-color: rgb(66, 115, 219); border-bottom-color: transparent; border-top-width: 5px; border-right-width: 5px; border-bottom-width: 5px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; float: left;
}
.gb_9 {
	width: 0px; height: 0px; border-top-color: transparent; border-bottom-color: transparent; border-left-color: rgb(66, 115, 219); border-top-width: 5px; border-bottom-width: 5px; border-left-width: 5px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; float: right;
}
.gb_ab.gb_R {
	flex:0 1 auto; -webkit-flex: 0 1 main-size;
}
.gb_cb.gb_R {
	flex:0 1 auto; -webkit-flex: 0 1 main-size;
}
.gb_8a.gb_R {
	flex:0 1 auto; -webkit-flex: 0 1 main-size;
}
.gb_ba {
	top: 59px; width: 0px; height: 0px; border-top-color: rgb(66, 115, 219); border-right-color: transparent; border-left-color: transparent; border-top-width: 5px; border-right-width: 5px; border-left-width: 5px; border-top-style: solid; border-right-style: solid; border-left-style: solid; position: absolute;
}
.gb_ka.gb_Ba {
	height: 0px; display: none;
}
.gb_oa .gb_3 {
	background-position: 0px -690px; background-image: url("../img/v1_76783e20.png"); background-size: 92px 2541px; -webkit-background-size: 92px 2541px;
}
.gb_oa .gb_3 + img {
	margin: 8px; border: 0px currentColor; border-image: none; width: 48px; height: 48px;
}
.gb_4 {
	width: 84px; line-height: 20px; overflow: hidden; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.gb_ka {
	background: rgb(245, 245, 245); height: 40px; overflow: hidden; cursor: pointer;
}
.gb_ka {
	width: 320px; text-align: center; line-height: 40px; display: block;
}
.gb_ka {
	color: rgb(115, 115, 115); text-decoration: none;
}
.gb_ka:visited {
	color: rgb(115, 115, 115); text-decoration: none;
}
.gb_ka:active {
	color: rgb(115, 115, 115); text-decoration: none;
}
.gb_la {
	color: rgb(115, 115, 115); text-decoration: none;
}
.gb_la:visited {
	color: rgb(115, 115, 115); text-decoration: none;
}
#gb a.gb_ka {
	color: rgb(115, 115, 115); text-decoration: none;
}
#gb a.gb_ka:visited {
	color: rgb(115, 115, 115); text-decoration: none;
}
#gb a.gb_ka:active {
	color: rgb(115, 115, 115); text-decoration: none;
}
#gb a.gb_la {
	color: rgb(115, 115, 115); text-decoration: none;
}
#gb a.gb_la:visited {
	color: rgb(115, 115, 115); text-decoration: none;
}
.gb_na .gb_ka {
	display: none;
}
.gb_ua .gb_ka {
	margin-top: 0px; position: static;
}
.gb_yb .gb_ka {
	position: relative;
}
.gb_ea .gb_b {
	background-position: -35px -311px; opacity: 0.55;
}
.gb_fa .gb_ea .gb_b {
	background-position: -35px -311px;
}
.gb_X .gb_ea .gb_b {
	background-position: -60px -1675px; opacity: 1;
}
.gb_N .gb_ea .gb_b::before {
	left: -35px; top: -311px;
}
.gb_N.gb_fa .gb_ea .gb_b::before {
	left: -35px; top: -311px;
}
.gb_N.gb_X .gb_ea .gb_b::before {
	left: -60px; top: -1675px;
}
.gb_ea .gb_b:hover {
	opacity: 0.85;
}
.gb_ea .gb_b:focus {
	opacity: 0.85;
}
.gb_X .gb_ea .gb_b:hover {
	opacity: 1;
}
.gb_X .gb_ea .gb_b:focus {
	opacity: 1;
}
.gb_Ea {
	box-shadow: 0px 1px 1px rgba(0,0,0,0.16); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .16);
}
.gb_Ec {
	padding: 0px 0px 0px 15px; vertical-align: middle; display: inline-block;
}
:first-child.gb_Ec {
	padding-left: 0px;
}
:first-child#gbsfw + .gb_Ec {
	padding-left: 0px;
}
.gb_Ec.gb_Fc {
	padding: 0px;
}
.gb_ec {
	text-align: left; line-height: normal; position: relative;
}
.gb_ec.gb_R {
	flex:0 1 auto; -webkit-flex: 0 1 main-size;
}
.gb_gf.gb_R {
	flex:0 1 auto; -webkit-flex: 0 1 main-size;
}
.gb_6a.gb_R {
	flex:0 1 auto; -webkit-flex: 0 1 main-size;
}
.gb_5a.gb_5a#gb .gb_Me {
	background: none; padding: 0px; border: currentColor; border-image: none; color: rgb(51, 102, 204); line-height: 26px; font-size: 11px; filter: none; cursor: pointer; box-shadow: none; -webkit-box-shadow: none;
}
.gb_5a.gb_5a#gb .gb_ec > .gb_if .gb_Ne {
	background: none; padding: 0px; border: currentColor; border-image: none; color: rgb(51, 102, 204); line-height: 26px; font-size: 11px; filter: none; cursor: pointer; box-shadow: none; -webkit-box-shadow: none;
}
.gb_5a.gb_X#gb .gb_Me {
	color: rgb(255, 255, 255);
}
.gb_5a.gb_X#gb .gb_ec > .gb_if .gb_Ne {
	color: rgb(255, 255, 255);
}
.gb_db.gb_R.gb_V {
	flex:0 0 auto; -webkit-flex: 0 0 main-size;
}
:not(.gb_bb).gb_V .gb_ec {
	flex:0 0 auto; -webkit-flex: 0 0 main-size;
}
.gb_kf {
	overflow: hidden;
}
.gb_V .gb_gf {
	overflow: hidden;
}
.gb_bb .gb_ec {
	overflow: hidden;
}
.gb_9a .gb_gf {
	padding-right: 0px;
}
.gb_V .gb_ec {
	padding: 1px 1px 1px 0px;
}
.gb_9a .gb_ec {
	width: 75px;
}
.gb_db.gb_of {
	transition:width 0.5s ease-in-out, min-width 0.5s ease-in-out, max-width 0.5s ease-in-out, padding 0.5s ease-in-out, left 0.5s ease-in-out; -webkit-transition: width .5s ease-in-out, min-width .5s ease-in-out, max-width .5s ease-in-out, padding .5s ease-in-out, left .5s ease-in-out;
}
.gb_db.gb_of .gb_lf {
	transition:width 0.5s ease-in-out, min-width 0.5s ease-in-out, max-width 0.5s ease-in-out, padding 0.5s ease-in-out, left 0.5s ease-in-out; -webkit-transition: width .5s ease-in-out, min-width .5s ease-in-out, max-width .5s ease-in-out, padding .5s ease-in-out, left .5s ease-in-out;
}
.gb_db.gb_of .gb_lf::before {
	transition:width 0.5s ease-in-out, min-width 0.5s ease-in-out, max-width 0.5s ease-in-out, padding 0.5s ease-in-out, left 0.5s ease-in-out; -webkit-transition: width .5s ease-in-out, min-width .5s ease-in-out, max-width .5s ease-in-out, padding .5s ease-in-out, left .5s ease-in-out;
}
.gb_db.gb_of .gb_gf {
	transition:width 0.5s ease-in-out, min-width 0.5s ease-in-out, max-width 0.5s ease-in-out, padding 0.5s ease-in-out, left 0.5s ease-in-out; -webkit-transition: width .5s ease-in-out, min-width .5s ease-in-out, max-width .5s ease-in-out, padding .5s ease-in-out, left .5s ease-in-out;
}
.gb_db.gb_of .gb_ec {
	transition:width 0.5s ease-in-out, min-width 0.5s ease-in-out, max-width 0.5s ease-in-out, padding 0.5s ease-in-out, left 0.5s ease-in-out; -webkit-transition: width .5s ease-in-out, min-width .5s ease-in-out, max-width .5s ease-in-out, padding .5s ease-in-out, left .5s ease-in-out;
}
.gb_db.gb_W {
	min-width: 0px !important;
}
.gb_db.gb_W .gb_ec {
	min-width: 0px !important;
}
.gb_db.gb_pf {
	min-width: 0px !important;
}
.gb_db.gb_pf .gb_ec {
	min-width: 0px !important;
}
.gb_Q.gb_R {
	padding-left: 15px; vertical-align: middle; display: none;
}
:first-child.gb_Q.gb_R {
	padding-left: 0px;
}
.gb_S.gb_R {
	display: inline-block;
}
.gb_T .gb_S.gb_R {
	flex:0 1 auto; display: flex; -webkit-flex: 0 1 main-size;
}
.gb_U .gb_S.gb_R {
	display: none;
}
.gb_ue > .gb_R {
	height: 60px; line-height: 58px; vertical-align: middle;
}
.gb_5a .gb_ue > .gb_R {
	height: 28px; line-height: 26px;
}
.gb_R {
	flex:0 0 auto; display: inline-block; -webkit-flex: 0 0 main-size;
}
.gb_R.gb_sf {
	float: right; order: 1; -webkit-order: 1;
}
.gb_tf {
	margin-right: 0px !important; margin-left: 0px !important;
}
.gb_R {
	margin-right: 0px !important; margin-left: 0px !important;
}
.gb_pc {
	position: relative;
}
.gb_mc .gb_pc {
	top: 0px; right: 0px; font-size: 14px; font-weight: bold;
}
.gb_Xc .gb_Pc {
	padding: 0px 8px; color: rgb(255, 255, 255); font-size: 11px; margin-left: 16px; display: inline-block; white-space: nowrap;
}
.gb_Xc .gb_0c {
	padding: 0px 8px; color: rgb(255, 255, 255); font-size: 11px; margin-left: 16px; display: inline-block; white-space: nowrap;
}
.gb_Oc .gb_Pc {
	margin-left: 8px;
}
.gb_Tc .gb_pc .gb_eb {
	border-bottom-color: rgb(255, 255, 255); display: block;
}
.gb_Uc .gb_pc .gb_eb {
	border-bottom-color: rgb(77, 144, 254); display: block;
}
.gb_Tc .gb_pc .gb_fb {
	display: block;
}
.gb_Uc .gb_pc .gb_fb {
	display: block;
}
#gb a.gb_b {
	color: rgb(0, 0, 0); text-decoration: none; cursor: default;
}
.gb_b {
	border-radius: 2px; width: 30px; height: 30px; color: rgb(0, 0, 0); text-decoration: none; vertical-align: middle; display: inline-block; cursor: default; box-sizing: border-box; -webkit-border-radius: 2px; -webkit-box-sizing: border-box;
}
.gb_b.gb_4a {
	width: auto;
}
.gb_b:hover .gb_gc {
	opacity: 0.85;
}
.gb_b:focus .gb_gc {
	opacity: 0.85;
}
.gb_fa .gb_b .gb_gc {
	background-position: 0px -311px; opacity: 0.7;
}
.gb_fa .gb_hc .gb_gc {
	background-position: 0px -1658px;
}
.gb_fa .gb_b:hover .gb_gc {
	opacity: 0.85;
}
.gb_fa .gb_b:focus .gb_gc {
	opacity: 0.85;
}
.gb_X .gb_b .gb_gc {
	background-position: -35px -623px; opacity: 1;
}
.gb_mc .gb_b {
	width: 30px; height: 30px; vertical-align: middle; display: inline-block; box-sizing: border-box; -webkit-box-sizing: border-box;
}
.gb_b:hover .gb_qc {
	background-color: rgba(0, 0, 0, 0.85);
}
.gb_b:focus .gb_qc {
	background-color: rgba(0, 0, 0, 0.85);
}
.gb_X .gb_qc.gb_qc {
	color: rgb(64, 64, 64); background-color: rgb(255, 255, 255);
}
.gb_X .gb_jc .gb_qc.gb_qc {
	color: rgb(64, 64, 64); background-color: rgb(255, 255, 255);
}
.gb_X .gb_jc .gb_b:hover .gb_qc {
	color: rgb(64, 64, 64); background-color: rgb(255, 255, 255);
}
.gb_X .gb_jc .gb_b:focus .gb_qc {
	color: rgb(64, 64, 64); background-color: rgb(255, 255, 255);
}
.gb_jc .gb_b:hover .gb_qc {
	background-color: rgb(165, 39, 20);
}
.gb_jc .gb_b:focus .gb_qc {
	background-color: rgb(165, 39, 20);
}
.gb_N.gb_fa .gb_b .gb_gc::before {
	left: 0px; top: -311px;
}
.gb_N.gb_X .gb_b .gb_gc::before {
	left: -35px; top: -623px;
}
.gb_re .gb_b {
	background-position: 0px -623px; width: 30px; height: 30px; opacity: 0.55;
}
.gb_re .gb_b:hover {
	opacity: 0.85;
}
.gb_re .gb_b:focus {
	opacity: 0.85;
}
.gb_X .gb_re .gb_b {
	background-position: 0px -2404px; opacity: 1;
}
.gb_fa .gb_re .gb_b {
	background-position: 0px -1848px; opacity: 0.7;
}
.gb_fa .gb_re .gb_b:hover {
	opacity: 0.85;
}
.gb_fa .gb_re .gb_b:focus {
	opacity: 0.85;
}
.gb_N .gb_re .gb_b::before {
	left: 0px; top: -623px;
}
.gb_N.gb_fa .gb_re .gb_b::before {
	left: 0px; top: -1848px;
}
.gb_N.gb_X .gb_re .gb_b::before {
	left: 0px; top: -2404px;
}
.gb_N .gb_Rb.gb_mf {
	position: absolute;
}
.gb_N .gb_Rb {
	overflow: hidden; position: relative; background-image: none;
}
.gb_N .gbii {
	overflow: hidden; position: relative; background-image: none;
}
.gb_N .gbip {
	overflow: hidden; position: relative; background-image: none;
}
.gb_N .gb_Rb::before {
	position: absolute; content: url('../img/v1_76783e20.png');
}
.gb_lb .gb_rb {
	background: rgb(77, 144, 254); border-color: rgb(48, 121, 237); margin: 10px 0px 0px; color: rgb(255, 255, 255); font-weight: bold;
}
#gb .gb_lb a.gb_rb.gb_rb {
	color: rgb(255, 255, 255);
}
.gb_lb .gb_rb:hover {
	background: rgb(53, 122, 232); border-color: rgb(47, 91, 183);
}
.gb_sb .gb_rb {
	margin: 0px 20px;
}
.gb_Rb {
	background-image: url("../img/v1_76783e20.png"); background-size: 92px 2541px; -webkit-background-size: 92px 2541px;
}
.gb_N .gb_Pb .gb_Rb::before {
	left: 0px; top: -762px;
}
.gb_N.gb_X .gb_Pb .gb_Rb::before {
	left: 0px; top: -2439px;
}
.gb_N.gb_fa .gb_Pb .gb_Rb::before {
	left: 0px; top: -1883px;
}
.gb_Pb .gb_Rb {
	display: block;
}
.gb_Sb {
	display: block;
}
.gb_Pb .gb_Rb {
	background-position: 0px -762px; width: 92px; height: 33px;
}
.gb_X .gb_Pb .gb_Rb {
	background-position: 0px -2439px;
}
.gb_fa .gb_Pb .gb_Rb {
	background-position: 0px -1883px; opacity: 0.54;
}
.gb_Fc .gb_rb {
	background: rgb(77, 144, 254); border-color: rgb(48, 121, 237); margin-top: 15px;
}
#gb .gb_Fc a.gb_rb.gb_rb {
	color: rgb(255, 255, 255);
}
.gb_Fc .gb_rb:hover {
	background: rgb(53, 122, 232); border-color: rgb(47, 91, 183);
}
.gb_yc .gb_rb {
	padding: 0px 16px; border: 0px currentColor; border-image: none; line-height: 36px; font-size: 14px; font-weight: 500; vertical-align: middle; position: relative; min-width: 32px;
}
.gb_yc .gb_rb::before {
	left: 0px; top: -6px; width: 100%; height: 6px; position: absolute; content: "";
}
.gb_yc .gb_rb::after {
	left: 0px; width: 100%; height: 6px; bottom: -6px; position: absolute; content: "";
}
.gb_yc .gb_rb + .gb_rb {
	margin-left: 8px;
}
.gb_fb {
	border-width: 0px 8.5px 8.5px; border-style: dashed dashed solid; border-color: transparent transparent rgba(0, 0, 0, 0.2); animation:gb__a 0.2s; left: 6.5px; top: 36px; width: 0px; height: 0px; display: none; position: absolute; z-index: 1; -webkit-animation: gb__a .2s;
}
.gb_yb .gb_fb {
	border-width: 1px 0px 0px 1px; border-style: solid none none solid; border-color: rgba(0, 0, 0, 0.2) currentColor currentColor rgba(0, 0, 0, 0.2); border-image: none; width: 14px; height: 14px; transform: rotate(45deg); -webkit-transform: rotate(45deg);
}
.gb_4a ~ .gb_eb {
	left: auto; right: 6.5px;
}
.gb_4a ~ .gb_fb {
	left: auto; right: 6.5px;
}
.gb_Fb {
	background: rgb(245, 245, 245); padding: 10px 20px; border-top-color: rgba(0, 0, 0, 0.2); border-top-width: 1px; border-top-style: solid; display: block;
}
.gb_Fb:hover .gb_Ib {
	text-decoration: underline;
}
:not(.gb_nc).gb_mc .gb_fb {
	left: 3px;
}
:not(.gb_nc).gb_mc .gb_eb {
	left: 3px;
}
.gb_eb {
	border-width: 0px 8.5px 8.5px; border-style: dashed dashed solid; border-color: transparent transparent rgb(255, 255, 255); animation:gb__a 0.2s; left: 6.5px; top: 37px; width: 0px; height: 0px; display: none; position: absolute; z-index: 1; -webkit-animation: gb__a .2s;
}
.gb_yb .gb_eb {
	background: rgb(255, 255, 255); border-width: 1px 0px 0px 1px; border-style: solid none none solid; border-color: rgb(255, 255, 255); border-image: none; width: 14px; height: 14px; transform: rotate(45deg); -webkit-transform: rotate(45deg);
}
.gb_ub .gb_eb {
	border-bottom-color: rgb(254, 249, 219);
}
.gb_Eb {
	color: rgb(102, 102, 102);
}
.gb_mc .gb_eb {
	border-bottom-color: rgb(229, 229, 229);
}
.gb_re .gb_eb {
	border-bottom-color: rgb(245, 245, 245);
}
.gb_Aa .gb_ja :nth-of-type(2) .gb_O {
	transform: translate(88px, 0px);
}
:not(.gb_Qe).gb_Aa .gb_O {
	transition:transform 0.2s cubic-bezier(0.333, 0, 0, 1);
}
#gb192 .gb_3::before {
	left: 0px; top: -763px;
}
.gb_Aa .gb_ja :nth-of-type(3) .gb_O {
	transform: translate(176px, 0px);
}
:not(.gb_Qe).gb_Aa .gb_O {
	transition:transform 0.2s cubic-bezier(0.333, 0, 0, 1);
}
.gb_Aa .gb_ja :nth-of-type(4) .gb_O {
	transform: translate(0px, 100px);
}
.gb_Aa .gb_ja :nth-of-type(5) .gb_O {
	transform: translate(88px, 100px);
}
.gb_Aa .gb_ja :nth-of-type(6) .gb_O {
	transform: translate(176px, 100px);
}
.gb_Aa .gb_ja :nth-of-type(7) .gb_O {
	transform: translate(0px, 200px);
}
.gb_Aa .gb_ja :nth-of-type(8) .gb_O {
	transform: translate(88px, 200px);
}
.gb_Aa .gb_ja :nth-of-type(9) .gb_O {
	transform: translate(176px, 200px);
}
.gb_Aa .gb_ja :nth-of-type(10) .gb_O {
	transform: translate(0px, 300px);
}
.gb_Aa .gb_ja :nth-of-type(11) .gb_O {
	transform: translate(88px, 300px);
}
